[core.variables]
    supabaseadminpass = "supabaseadminpass"
    pgpass = "pgpass"
    authenticator_password = "authenticator_password"
    supabase_auth_admin_password = "supabase_auth_admin_password"
